<!DOCTYPE html>
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>index</title>
	<link rel="stylesheet" type="text/css" href="../static/css/index.css">
	<link rel="stylesheet" type="text/css" href="../static/css/style.css">
	<link rel="stylesheet" type="text/css" href="../static/css/indexfooter.css">
	<link rel="icon" type="image/x-icon" href="../static/images/favicon.ico">

</head>
<body>
<!-- <div id="headercycle"></div> -->
<div id="header">
	<h1>Sacred Heart Catholic College Ijebu Ode</h1>
	<!-- <h2>Students Quiz Competition Staff Portal: Round = 1</h2> -->
</div>

<div id="intro">
	<h1>17<sup>th</sup> Annual college week</h1>
</div>
<div id="program">
	<div id="programdisplay">
		<div class="part" id="part1">
			<h2>part 1</h2>
			<h4>1. welcome addres</h4>
			<h4>2. introduction of guest</h4>
			<h4>3. item 3</h4>
			<h4>4. item 4</h4>
			<h4>5. item 5</h4>
		</div>
		<div class="part" id="part2">
			<h2>part 2</h2>
			<h4><a href="#">6. item 1</a></h4>
			<h4><a href="http://localhost:5000/quiz" target="blank">7. quiz competition</a></h4>
			<h4><a href="#">8. item 3</a></h4>
			<h4><a href="#">9. item 4</a></h4>
			<h4><a href="#">10. item 5</a></h4>
		</div>
		<div class="part" id="part3">
			<h2>part 3</h2>
			<h4><a href="#">11. item 1</a></h4>
			<h4><a href="#">12. item 2</a></h4>
			<h4><a href="#">13. item 3</a></h4>
			<h4><a href="#">14. item 4</a></h4>
			<h4><a href="#">15. item 5</a></h4>
		</div>

	</div>
	<div id="buttons"></div>
</div>
 <footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h3>About Us</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      </div>
      <div class="col-md-4">
        <h3>Contact Us</h3>
        <p>123 Main Street<br>City, State ZIP<br>Phone: (123) 456-7890<br>Email: info@yourcompany.com</p>
      </div>
      <div class="col-md-4">
        <h3>Follow Us</h3>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-12">
        <p class="text-center">&copy; 2023 Your Company. All Rights Reserved.</p>
      </div>
    </div>
  </div>
</footer>

<script type="text/javascript" src="../static/js/script.js"></script>
<script type="text/javascript" src="../static/js/index.js"></script>
</body>
</html>