<!DOCTYPE html>
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>index</title>
	<link rel="stylesheet" type="text/css" href="../static/css/index.css">
	<link rel="stylesheet" type="text/css" href="../static/css/style.css">
	<link rel="stylesheet" type="text/css" href="../static/css/indexfooter.css">
	<link rel="icon" type="image/x-icon" href="../static/images/favicon.ico">

</head>
<body>
<!-- <div id="headercycle"></div> -->
<div id="header">
	<h1>Sacred Heart Catholic College, Ijebu Ode</h1>
	<!-- <h2>Students Quiz Competition Staff Portal: Round = 1</h2> -->
</div>

<div id="intro">
	<h3 id="activeitem"><sup>2023</sup> <i>Cultural Day</i> CELEBRATION</h3>
</div>
<div id="program">
	<div id="programdisplay">
		<div class="part" id="part1">
			<h2></h2>
			<h4><a id="link1" href="#" onclick="activeitems('link1')">1. Arrival/Recognition/First Stage of the Quiz</a></h4>
			<h4><a id="link2" href="#" onclick="activeitems('link2')">2. Iwure - Mr Banwo</a></h4>
			<h4><a id="link3" href="#" onclick="activeitems('link3')">3. Anthems</a></h4>
			<h4><a id="link4" href="#" onclick="activeitems('link4')">4. Breaking of kolanut - Mr Amadi & Mr Adefeso</a></h4>
			<h4><a id="link5" href="#" onclick="activeitems('link5')">5. Welcome Address by the Chaplain</a></h4>
			<h4><a id="link6" href="#" onclick="activeitems('link6')">6. Presentation - Ewi in Yoruba</a></h4>
			<h4><a id="link7" href="#" onclick="activeitems('link7')">7. Poems</a></h4>
			<h4><a id="link8" href="#" onclick="activeitems('link8')">8. Drama Presentation</a></h4>
		</div>
		<div class="part" id="part2">
			<h2></h2>
			<h4 ><a id="link9" href="#" onclick="activeitems('link9')">9. Presentation - Owe Yoruba</a></h4>
			<h4 ><a id="link10" href="#" onclick="activeitems('link10')">10. Igbo Cultural Dance - Atilogu Dance</a></h4>
			<h4 ><a id="link11" href="#" onclick="activeitems('link11')">11. Yoruba Presentation - Miming</a></h4>
			<h4 ><a id="link12" href="#" onclick="activeitems('link12')">12. Fashion Parade</a></h4>
			<h4 ><a href="http://192.168.3.122:5000/quiz" target="blank">13. quiz competition</a></h4>
			<h4 ><a id="link14" href="#" onclick="activeitems('link14')">14. Science is Fun</a></h4>
			<h4 ><a id="link15" href="#" onclick="activeitems('link15')">15. Yoruba Cultural Dance</a></h4>
			<h4 ><a id="link16" href="#" onclick="activeitems('link16')">16. Opening of African Dishes</a></h4>
		</div>
		<div class="part" id="part3">
			<h2></h2>
			<h4><a id="link17" href="#" onclick="activeitems('link17')">17. Yoruba Presentation - Ewi</a></h4>
			<h4><a id="link18" href="#" onclick="activeitems('link18')">18. Announcement of result</a></h4>
			<h4><a id="link19" href="#" onclick="activeitems('link19')">19. Vote of thanks - Chairperson</a></h4>
			<h4><a id="link20" href="#" onclick="activeitems('link20')">20. Closing Prayer/Benediction</a></h4>
			<h4><a id="link21" href="#" onclick="activeitems('link21')"><sup>2023</sup> <i>Cultural Day</i> CELEBRATION</a></h4>
			<h4><a id="link22" href="#" onclick="activeitems('link22')">My turn</a></h4>


			<h4><a href="#"></a></h4>
			<h4><a href="#"></a></h4>
			<h4><a href="#"></a></h4>
			<!-- <h4><a href="#">16. Opening of African Dishes</a></h4> -->
		</div>

	</div>
	<div id="buttons"></div>
</div>
 <footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h3>About Us</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      </div>
      <div class="col-md-4">
        <h3>Contact Us</h3>
        <p>123 Main Street<br>City, State ZIP<br>Phone: (123) 456-7890<br>Email: info@yourcompany.com</p>
      </div>
      <div class="col-md-4">
        <h3>Follow Us</h3>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-12">
        <p class="text-center">&copy; 2023 Your Company. All Rights Reserved.</p>
      </div>
    </div>
  </div>
</footer>

<script type="text/javascript" src="../static/js/script.js"></script>
<script type="text/javascript" src="../static/js/index.js"></script>
</body>
</html>