<!DOCTYPE html>
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>staff</title>
	<link rel="stylesheet" type="text/css" href="../static/css/staff.css">
	<link rel="stylesheet" type="text/css" href="../static/css/style.css">
	<link rel="icon" type="image/x-icon" href="../static/images/favicon.ico">

</head>
<body>
<!-- <div id="headercycle"></div> -->
<div id="header">
	<h1>Sacred Heart Catholic College Ijebu Ode</h1>
	<h2>Students Quiz Competition Staff Portal: Round = 1</h2>
</div>
<div id="taggrid">
	<div id="tag">
		<h2>insert question</h2>
		<div>
			<a href="http://localhost:5000/staffinsert"><p>As a staff, you have a list of question you want to insert into the system. first you must remember that the answer to each question must be provided at the time of inserting the question. If this is obmitted, the insert operation will still be successful, but the question will carry no valid mark and that will cause harm to the system. <br>click to proceed</p></a>
		</div>
	</div>
	<div id="tag">
		<h2>update question</h2>
		<div>
			<a href="#"><p>You have inserted a question and you later discovered a mistake you will like to correct. You dont need to insert the question again as the particular question number already exist now and cannot be changed. However you can update the question to what you want it to be now. <br>click to proceed</p></a>
		</div>
	</div>
	<div id="tag">
		<h2>view question</h2>
		<div>
			<a href="#"><p>After inserting all the questions, you want to view them to see if they are the same with what you have on your script. thats possible, the view questions route offers you the chance to view all the questions in the system or questions for a particular subject. Just be sure to select the appropriate option. <br>click to proceed</p></a>
		</div>
	</div>

</div>
<div id="footer">
</div>

<script type="text/javascript" src="../static/js/script.js"></script>
<script type="text/javascript" src="../static/js/staff.js"></script>
</body>
</html>