<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>session - new login</title>
	<link rel="stylesheet" type="text/css" href="../static/css/login.css">
	<link rel="stylesheet" type="text/css" href="../static/css/style.css">
	<link rel="icon" type="image/x-icon" href="../static/images/coloredglobe.ico">
</head>
<body>
	<div id="body">
		<form id="login" method="POST">
			<a id="signuppagelink" href="signup"><h4 id="signuppage" >Signup</h4></a>
			<a id="loginpagelink" href="#"><h4 id="loginpage" >Login</h4></a>
			<div class="edumap">
				<h2>EdMap</h2>
			</div>
			<div id="error"></div>
			<h4 id="email">Email</h4>
			<input id="inputemail" type="text" name="email">
			<h4 id="password">Password</h4>
			<input id="inputpassword" type="password" name="password">
			<div id="rememberme"><input type="checkbox" name="">&nbsp;Remember me</div>
			<a href="dashboard"><button id="button">Login</button></a>
			<div id="forgotpassworddiv"><a id="forgotpasswordlink" href="#">Forgot your password?</a></div>

		</form>
	</div>
	<script type="text/javascript" src="../static/js/login.js"></script>

</body>
</html>