<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title></title>
	<link rel="stylesheet" type="text/css" href="../static/css/index.css">
	<link rel="stylesheet" type="text/css" href="../static/css/style.css">
	<link rel="icon" type="image/x-icon" href="../static/images/favicon.ico">
</head>
<body>
	<div id="header">
	<ul>
		<a  href="#"><img src="../static/images/logo.png">
			<h1>Student Results sheet</h1></a>
		<!-- <li><a href="#">staff</a></li> -->
		<li id="list">
			<a id="staff" href="staff.html">staff</a>
			<ul class="dropdown">
				<li><a id="dropdown" href="">insert results</a></li>
				<li><a id="dropdown" href="">cal results</a></li>
				<li><a id="dropdown" href="">calculate grade</a></li>
				<li><a id="dropdown" href="">result grade</a></li>
			</ul>
		</li>
		<li><a href="student.html">students</a></li>
		<li><a href="parent.html">parents</a></li>
	</ul>
	</div>
	<div id="section1">
		<div id="innertext">
			<h1>Original Provider</h1>
			<h1>For automated school Results compilation</h1>
			<p>With reCal, we do not only help you with school result compilation. we help you monitor the entire students progress renging from leadership, social life, etc. we also create visuals to help you better understand the results. and also help you make decisions to better your wards future</p>
			<button>Explore more</button>
		</div>
	</div>
	<div id="section2">
		<div id="innerblock">
			<h1>Monitor</h1>
			<h1>Their Growth</h1>
			<p>parents can track students reports, communicate with teachers, make suggestions on areas they want their wards to improve etc.</p>
			<p>teachers can manage student records, compute student development reports including academics, leadership, socials and lots more</p>
		</div>
		<div id="innerlearn">
			<h1>learn more as</h1>
			<h2>Staff:</h2><p>Learn methods and approaches to get better</p><br>
			<h2>parent:</h2><p>see more about how you can contribute to his learning</p><br>
			<h2>Students:</h2><p>Add peoples experiece to your knowledge</p>


		</div>
	</div>
	<div id="section3">
		<div id="innerexplanation">
			<h2>Brief Explanation</h2>
			<p>Take the load off your sholders, experience interactive and seamless accessment on the go with reCal. Unrestricted and beyond borders. reCal allows all round ward accessment with just a click</p><button>view Demo</button>
		</div>
		<div id="innerpicture">
			
		</div>
	</div>
	<div id="footer">
		<div id="foot">
			<h1>ReCal</h1>
			<h2>Automated student accessments</h2>
			<h4>Fast, Reliable & accurate</h4>
		</div>
		<div id="foot">
			<h2>Automate, if it can</h2>
			<h4>Put those hours into something else</h4>
			<input type="email" name="email" placeholder="your email">
			<button>subscribe</button>
		</div>
		<div id="foot">
			<h2>FOLLOW US</h2>
			<div id="insidefoot">
			<a href="#"><img src="../static/images/facebook.png"></a>
			<a href="#"><img src="../static/images/twitter.png"></a>
			<a href="#"><img src="../static/images/instagram.png"></a>
			</div>
		</div>
		<div id="foot1">
			<h2>CALL</h2>
			<div id="insidefoot1">
				<h4>+234 816 825 7770</h4>
			</div>
		</div>
	</div>
</body>
</html>
