<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>parents</title>
	<link rel="stylesheet" type="text/css" href="../static/css/parent.css">
	<link rel="stylesheet" type="text/css" href="../static/css/style.css">
	<link rel="icon" type="image/x-icon" href="../static/images/favicon.ico">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
</head>
<body>
	<div id="header">

	<ul>
		<a href="index.html"><img src="../static/images/logo.png">
			<h1>Student Results sheet</h1></a>
		<!-- <li><a href="#">staff</a></li> -->
		<li id="list">
			<a id="staff" href="staff.html">staff</a>
			<ul class="dropdown">
				<li><a id="dropdown" href="">insert results</a></li>
				<li><a id="dropdown" href="">cal results</a></li>
				<li><a id="dropdown" href="">calculate grade</a></li>
				<li><a id="dropdown" href="">result grade</a></li>
			</ul>
		</li>
		<li><a href="student.html">students</a></li>
		<li><a href="#">parents</a></li>
	</ul>
	</div>
	<div id="flex">
	<div id="aside">
		<div id="insideaside">
			<img src="../static/images/passport.png">
		<p>what do we have here, we has so much to deal with before this guy will accept to allign</p>
		</div>
		<h1>Dashboard</h1>
		<h4>profile and password</h4>
		<h4>manage my institution</h4>
		<h4>software settings</h4>
		<h4>my subscription</h4>
		<h4>payment history</h4>
		<h4>limits and activity</h4>
		<div id="progress">
			<div id="overall"><h2>overall results</h2></div>
			<div id="entrepreneurship"><p>Academics</p></div>
			<div id="assignments"><p>Spiritual</p></div>
			<div id="test"><p>Social</p></div>
			<div id="socials"><p>Leadership</p></div>
			<button>message staff</button>
			<!-- <div id="scale"><p>scale:</p><h5>1</h5><h5>2</h5><h5>3</h5><h5>4</h5><h5>5</h5></div> -->
		</div>
	</div>
	<div id="section">
		<div id="topsection">
			<h1>ward development progress report</h1>
			<div id="first">
				<div id="insidefirst">
					<button>previous</button>
					<button>next</button>
					<!-- <h3>Academic performance</h3> -->
					<!-- <canvas id="myChart1" style="width:100%;max-width:600px"></canvas> -->
					<!-- <h5>Before you begin, have all the results on a sheet</h5>
					<div id="mat"><p>maths</p></div>
					<div id="phy">physics</div>
					<div id="log">logic</div>
					<div id="rsn">reason</div>
					<div id="eng">english</div>
					<div id="his">history</div> -->

				</div>
				<div id="insidefirst">
					<!-- <h3>Spirituality</h3> -->
					<canvas id="myChart" style="width:100%;max-width:600px"></canvas>

					<!-- <h5>Before you begin, have all the results on a sheet</h5>
					<div id="mat"><p>Lve</p></div>
					<div id="phy">Kds</div>
					<div id="log">Med</div>
					<div id="rsn">Ftd</div>
					<div id="eng">Sty</div>
					<div id="eng">end</div>
					<div id="eng">sef</div> -->


				</div>

			</div>
			<div id="second">
				<div id="insidesecond">
					<!-- <h3>Social Life</h3>
					<h5>Before you begin, have all the results on a sheet</h5>
					<div id="mat"><p>maths</p></div>
					<div id="phy">physics</div>
					<div id="log">log</div>
					<div id="rsn">rsn</div>
					<div id="eng">eng</div>
					<div id="his">his</div> -->
					<canvas id="myChart1" style="width:100%;max-width:600px"></canvas>

				</div>
				<div id="insidesecond">
					<h2>Results</h2>
					<h4>class position: 5th</h4>
					<h4>class average: 68%</h4>
					<h4>student average: 87%</h4>
					<h2>Predicted Results</h2>
					<h4>Class position: 3rd</h4>
					<h4>Class Average: 67%</h4>
					<h4>Student Average: 91%</h4>
					<h4 style="color: red;">Remarks: Attention needed!</h4>
					<!-- <h3>Clubs and leadership</h3>
					<h5>Before you begin, have all the results on a sheet</h5>
					<div id="mat"><p>mat</p></div>
					<div id="phy">phy</div>
					<div id="log">log</div>
					<div id="rsn">rsn</div>
					<div id="eng">eng</div>
					<div id="his">his</div> -->
				</div>

			</div>
			
			<!-- <div><button>Check Results</button></div> -->
		</div>
		<div id="downsection">
			<h1>Messages from staff</h1>
			<p>Okeke Chima has been catchin up very well, his holiday studies results are not encouraging however, but he has caught up with the remaining and is doing just fine</p>
		</div>
	</div>
	</div>
	<div id="footer">
		<div id="foot">
			<h1>ReCal</h1>
			<h2>Automated student accessments</h2>
			<h4>Fast, Reliable & accurate</h4>
		</div>
		<div id="foot">
			<h2>Automate, if it can</h2>
			<h4>Put those hours into something else</h4>
			<input type="email" name="email" placeholder="your email">
			<button>subscribe</button>
		</div>
		<div id="foot">
			<h2>FOLLOW US</h2>
			<div id="insidefoot">
			<a href="#"><img src="../static/images/facebook.png"></a>
			<a href="#"><img src="../static/images/twitter.png"></a>
			<a href="#"><img src="../static/images/instagram.png"></a>
			</div>
		</div>
		<div id="foot1">
			<h2>CALL</h2>
			<div id="insidefoot1">
				<h4>+234 816 825 7770</h4>
			</div>
		</div>
	</div>

<script>
var xValues = ["maths", "English", "phy", "chm", "biology"];
var yValues = [55, 49, 44, 24, 15];
var barColors = ["red", "green","blue","orange","brown"];

new Chart("myChart1", {
  type: "bar",
  data: {
    labels: xValues,
    datasets: [{
      backgroundColor: barColors,
      data: yValues
    }]
  },
  options: {
    legend: {display: false},
    title: {
      display: true,
      text: "Academic Performance"
    }
  }
});
new Chart("myChart", {
  type: "bar",
  data: {
    labels: xValues,
    datasets: [{
      backgroundColor: barColors,
      data: yValues
    }]
  },
  options: {
    legend: {display: false},
    title: {
      display: true,
      text: "Academic Performance"
    }
  }
});
</script>

</body>
</html>
