<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>student</title>
	<link rel="stylesheet" type="text/css" href="../static/css/student.css">
	<link rel="stylesheet" type="text/css" href="../static/css/style.css">
	<link rel="icon" type="image/x-icon" href="../static/images/favicon.ico">
</head>
<body>
	<div id="header">

	<ul>
		<a href="index.html"><img src="../static/images/logo.png">
			<h1>Student Results sheet</h1></a>
		<!-- <li><a href="#">staff</a></li> -->
		<li id="list">
			<a id="staff" href="staff.html">staff</a>
			<ul class="dropdown">
				<li><a id="dropdown" href="">insert results</a></li>
				<li><a id="dropdown" href="">cal results</a></li>
				<li><a id="dropdown" href="">calculate grade</a></li>
				<li><a id="dropdown" href="">result grade</a></li>
			</ul>
		</li>
		<li><a href="#">students</a></li>
		<li><a href="parent.html">parents</a></li>
	</ul>
	</div>
	<div id="flex">
	<div id="aside">
		<div id="insideaside">
			<img src="../static/images/passport.png">
		<p>what do we have here, we has so much to deal with before this guy will accept to allign</p>
		</div>
		<h1>Dashboard</h1>
		<h4>profile and password</h4>
		<h4>manage my institution</h4>
		<h4>software settings</h4>
		<h4>my subscription</h4>
		<h4>payment history</h4>
		<h4>limits and activity</h4>
		<div id="progress">
			<div id="classes"><p>classes</p></div>
			<div id="assignments"><p>assignments</p></div>
			<div id="test"><p>test</p></div>
			<div id="socials"><p>socials</p></div>
			<div id="entrepreneurship"><p>entrepreneurship</p></div>
			<div id="scale"><p>scale:</p><h5>1</h5><h5>2</h5><h5>3</h5><h5>4</h5><h5>5</h5></div>
		</div>
	</div>
	<div id="section">
		<div id="topsection">
			<h1>course Results</h1>
			<div id="topsectiontitlediv">
				<span id="topsectiontitle"><h1>courses</h1></span>
				<span id="topsectiontitle">test1</span>
				<span id="topsectiontitle">test2</span>
				<span id="topsectiontitle">test3</span>
				<span id="topsectiontitle">Exams</span>
				<span id="topsectiontitle">total</span>
				<span id="topsectiontitle">position</span>
			</div>
			<div id="topsectiontitlediv">
				<span id="topsectiontitle"><h1>physics</h1></span>
				<span id="topsectiontitle">.....</span>
				<span id="topsectiontitle">.....</span>
				<span id="topsectiontitle">.....</span>
				<span id="topsectiontitle">.....</span>
				<span id="topsectiontitle">.....</span>
				<span id="topsectiontitle">........</span>
			</div>
			<div id="topsectiontitlediv">
				<span id="topsectiontitle"><h1>maths</h1></span>
				<span id="topsectiontitle">.....</span>
				<span id="topsectiontitle">.....</span>
				<span id="topsectiontitle">.....</span>
				<span id="topsectiontitle">.....</span>
				<span id="topsectiontitle">.....</span>
				<span id="topsectiontitle">........</span>
			</div>
			<div id="topsectiontitlediv">
				<span id="topsectiontitle"><h1>English</h1></span>
				<span id="topsectiontitle">.....</span>
				<span id="topsectiontitle">.....</span>
				<span id="topsectiontitle">.....</span>
				<span id="topsectiontitle">.....</span>
				<span id="topsectiontitle">.....</span>
				<span id="topsectiontitle">........</span>
			</div>
			<div id="topsectiontitlediv">
				<span id="topsectiontitle"><h1>Chemistry</h1></span>
				<span id="topsectiontitle">.....</span>
				<span id="topsectiontitle">.....</span>
				<span id="topsectiontitle">.....</span>
				<span id="topsectiontitle">.....</span>
				<span id="topsectiontitle">.....</span>
				<span id="topsectiontitle">........</span>
			</div>
			<div id="topsectiontitlediv">
				<span id="topsectiontitle"><h1>Biology</h1></span>
				<span id="topsectiontitle">.....</span>
				<span id="topsectiontitle">.....</span>
				<span id="topsectiontitle">.....</span>
				<span id="topsectiontitle">.....</span>
				<span id="topsectiontitle">.....</span>
				<span id="topsectiontitle">........</span>
			</div>
			<div><button>Check Results</button></div>
		</div>
		<div id="downsection">
			<h1>Extra curricular</h1>
			<div>
				<h3>club</h3>
				<p>science and maths</p>
			</div>
			<div>
				<h3>Leadership</h3>
				<p>floor member</p>
			</div>
			<div>
				<h3>Access Expiry</h3>
				<p>April 2023</p>
			</div>
			<div><button>Add club</button>
			<button>Drop club</button></div>
			

		</div>
	</div>
	</div>
	<div id="footer">
		<div id="foot">
			<h1>ReCal</h1>
			<h2>Automated student accessments</h2>
			<h4>Fast, Reliable & accurate</h4>
		</div>
		<div id="foot">
			<h2>Automate, if it can</h2>
			<h4>Put those hours into something else</h4>
			<input type="email" name="email" placeholder="your email">
			<button>subscribe</button>
		</div>
		<div id="foot">
			<h2>FOLLOW US</h2>
			<div id="insidefoot">
			<a href="#"><img src="../static/images/facebook.png"></a>
			<a href="#"><img src="../static/images/twitter.png"></a>
			<a href="#"><img src="../static/images/instagram.png"></a>
			</div>
		</div>
		<div id="foot1">
			<h2>CALL</h2>
			<div id="insidefoot1">
				<h4>+234 816 825 7770</h4>
			</div>
		</div>
	</div>
</body>
</html>
