<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>club data</title>
	<link rel="stylesheet" type="text/css" href="../static/css/test.css">
	<link rel="stylesheet" type="text/css" href="../static/css/style1.css">
	<link rel="icon" type="image/x-icon" href="../static/images/coloredglobe.png">
</head>
<body>
	<div id="body">
		<div id="login">
			<a id="signuppagelink" href="club.html"><h4 id="clubinput1" >input</h4></a>
			<a id="loginpagelink" href="#"><h4 id="clubupdate1" >update</h4></a>
			<div class="edumap">
				<h2>Club</h2>
			</div>
			<form method="POST">
			<h4 id="course_id">insert club_id</h4>
			<input id="inputcourse_id" type="text" name="course_id">
			<h4 id="student_id">insert student_id</h4>
			<input id="inputstudent_id" type="text" name="student_id">
			<h4 id="score">test 1</h4>
			<input id="inputscore" type="text" name="test1">
			<h4 id="score">test 2</h4>
			<input id="inputscore" type="text" name="test2">
			<h4 id="score">test 3</h4>
			<input id="inputscore" type="text" name="test3">
			<h4 id="score">examination</h4>
			<input id="inputexams" type="text" name="exams">
			<button id="button">Insert</button> 
			</form>
			<a href="staff.html"><button id="button">go home</button></a>

		</div>

	</div>

</body>
</html>
